/* Add your styles here */
h1{
    font-family: "Times New Roman", Times, serif;
    color: #581845;
    text-decoration: underline;
}
.container img {
    max-width: 35%;
    height: auto;
    padding: 8px;
}
.container{
    font-size: 25px;
    padding: 15px;
    background-color: #DAF7A6;
}
h2{
    font-family: "Times New Roman", Times, serif;
    color: #581845;
    background-color: #DAF7A6;
}
h10 {
    font-family: "Times New Roman", Times, serif;
    color: #581845;
}
p {
    font-family: "Times New Roman", Times, serif;
    color: #581845;
}
.section1 h2 {
    padding: 35px;
}
.section1 img {
    max-width: 10%;
    height: auto;
    padding: 5px;
}